<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-language" content="en" />
    <meta name="description" content="ICT Cortex Library - project for high school students..." />
    <meta name="keywords" content="ict cortex, cortex, bild, bildstudio, highschool, students, coding" />
    <meta name="author" content="bildstudio" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' cdn.ckeditor.com cdn.jsdelivr.net">
    <!-- End Meta -->

    <!-- Title -->
    <title>Library - ICT Cortex student project</title>
    <link rel="shortcut icon" href="img/library-favicon.ico" type="image/vnd.microsoft.icon" />
    <!-- End Title -->

    <!-- Styles -->
    <%- include('includes/layout/styles') %>
    <!-- End Styles -->
</head>

<body class="overflow-hidden small:bg-gradient-to-r small:from-green-400 small:to-blue-500">
    <!-- Header -->
    <%- include('includes/layout/header') %>
    <!-- Header -->

    <!-- Main content -->
    <main class="flex flex-row small:hidden">
        <!-- Sidebar -->
        <%- include('includes/layout/sidebar') %>
        <!-- End Sidebar -->

        <!-- Content -->
        <section class="w-screen h-screen py-4 pl-[60px] text-[#212121]">
            <!-- Heading of content -->
            <!-- Heading of content -->
<div class="heading">
    <h1 class="pl-[50px] pb-[20px] text-[35px] text-[#5c5c5c] font-bold border-b-[2px] border-[#e4dfdf]">
        Books
    </h1>
</div>
<!-- Space for content -->
<div class="px-[30px] pt-2 bg-white">
    <div class="w-full mt-2">
<div class="scroll height-content section-content">
    <table class="w-full overflow-hidden shadow-lg rounded-xl" id="myTable">
        <thead class="bg-[#EFF3F6]">
            <tr class="border-b-[1px] border-[#e4dfdf]">
                <th class="flex items-center px-4 py-4 leading-4 tracking-wider text-left">
                    Naziv knjige
                    <a href="#"><i class="ml-2 fa-lg fas fa-long-arrow-alt-down"
                            onclick="sortTable()"></i>
                    </a>
                </th>
                <th>Author</th>
                <th>Language</th>
                <th>Format</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(function(book) { %>
                <tr>
                    <td class="flex flex-row items-center px-4 py-4"><%= book.title %></td>
                    <td><%= book.id %></td>
                    <td><%= book.language %></td>
                    <td><%= book.format %></td>
                    <td><%= book.publisher %></td>
                    <td><%= book.isbn %></td>
                    <td><%= book.year %></td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</div>
</div>
</div>



        </section>
        <!-- End Content -->
    </main>
    <!-- End Main content -->

    <!-- Notification for small devices -->
    <%- include('includes/layout/inProgress') %>


    <!-- Scripts -->
    <%- include('includes/layout/scripts') %>
    <!-- End Scripts -->

</body>

</html>